<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Architectures</key>
	<array>
		<string>i386</string>
	</array>
	<key>BackwardCompatible</key>
	<false/>
	<key>BootFile</key>
	<string>booter</string>
	<key>Description</key>
	<string>No description</string>
	<key>DisabledSystemIdentifiers</key>
	<array>
		<string>MacBookAir6,1</string>
		<string>MacBookAir5,2</string>
		<string>MacBookAir7,2</string>
		<string>MacBookAir2,1</string>
		<string>MacBookAir5,1</string>
		<string>MacBookAir4,2</string>
		<string>MacBookAir4,1</string>
		<string>MacBookAir6,2</string>
		<string>MacBookAir7,1</string>
		<string>MacBookAir3,2</string>
		<string>MacBookAir3,1</string>
		<string>MacBookPro5,2</string>
		<string>MacBookPro9,1</string>
		<string>MacBookPro6,2</string>
		<string>MacBookPro6,1</string>
		<string>MacBookPro8,3</string>
		<string>MacBookPro11,3</string>
		<string>MacBookPro7,1</string>
		<string>MacBookPro11,2</string>
		<string>MacBookPro10,1</string>
		<string>MacBookPro12,1</string>
		<string>MacBookPro11,4</string>
		<string>MacBookPro11,5</string>
		<string>MacBookPro3,1</string>
		<string>MacBookPro4,1</string>
		<string>MacBookPro8,1</string>
		<string>MacBookPro10,2</string>
		<string>MacBookPro5,3</string>
		<string>MacBookPro5,5</string>
		<string>MacBookPro5,4</string>
		<string>MacBookPro5,1</string>
		<string>MacBookPro9,2</string>
		<string>MacBookPro11,1</string>
		<string>MacBookPro8,2</string>
		<string>iMac14,2</string>
		<string>iMac17,1</string>
		<string>iMac9,1</string>
		<string>iMac7,1</string>
		<string>iMac12,1</string>
		<string>iMac11,1</string>
		<string>iMac14,4</string>
		<string>iMac11,3</string>
		<string>iMac13,2</string>
		<string>iMac15,1</string>
		<string>iMac12,2</string>
		<string>iMac8,1</string>
		<string>iMac10,1</string>
		<string>iMac13,3</string>
		<string>iMac16,1</string>
		<string>iMac16,2</string>
		<string>iMac14,1</string>
		<string>iMac14,3</string>
		<string>iMac13,1</string>
		<string>iMac11,2</string>
		<string>Macmini5,3</string>
		<string>Macmini5,1</string>
		<string>Macmini4,1</string>
		<string>Macmini5,2</string>
		<string>Macmini3,1</string>
		<string>Macmini6,1</string>
		<string>Macmini6,2</string>
		<string>Macmini7,1</string>
		<string>MacBook8,1</string>
		<string>MacBook7,1</string>
		<string>MacBook5,1</string>
		<string>MacBook6,1</string>
		<string>MacBook5,2</string>
		<string>MacPro3,1</string>
		<string>MacPro5,1</string>
		<string>MacPro6,1</string>
		<string>MacPro4,1</string>
		<string>Xserve3,1</string>
	</array>
	<key>EnabledSystemIdentifiers</key>
	<array/>
	<key>Index</key>
	<integer>42000</integer>
	<key>IsDefault</key>
	<false/>
	<key>IsEnabled</key>
	<false/>
	<key>IsInstall</key>
	<true/>
	<key>Kind</key>
	<integer>1</integer>
	<key>Language</key>
	<string>Default</string>
	<key>Name</key>
	<string>My NetInstall Image</string>
	<key>RootPath</key>
	<string>System.dmg</string>
	<key>SupportsDiskless</key>
	<false/>
	<key>Type</key>
	<string>HTTP</string>
</dict>
</plist>
